
@{
    ViewBag.Title = "Weekly_Attandence_Report";
}






@using lr = Resources.Resources;



<style>
    div#calender {
        width: 1082px;
    }

    .fc-content {
        color: #000;
    }

    td.fc-day.fc-widget-content.fc-sun.fc-today.fc-state-highlight {
        background-color: #80BFC8;
    }

    .right-inner-addon {
        display: none;
    }

    .fc button .fc-icon {
        position: relative;
        top: -.05em;
        margin: 0 .2em;
        /* vertical-align: middle; */
    }

    span.fc-time {
        display: none;
    }
</style>


<style>
    .form-group {
        display: grid;
    }

    .input-group {
        display: none;
    }

    .col-md-12.col-lg-offset-2 {
        margin-bottom: 26px;
    }
    /*li {
        display: none;
    }*/
</style>
@*<div class="col-md-offset-2">*@
<div class="row" style="margin-left:40%;">
    <div class="form-group">
        <h2>Weekly Attandence Report</h2>
    </div>
</div>
<div class="form-group" style="margin-left:10%;">
    <div class="form-group">
        <div class="row" style="margin-top:1%;">
            @Html.Label("Course", new { @class = "col-md-3 col-lg-3 control-label" })
            <div class="col-md-8">
                @(Html.Kendo().DropDownList()
                                                                                                                                                                .Name("Course")
                     .DataTextField("Text")
                     .DataValueField("Value")
                    .OptionLabel("--Please select Course--")
                     .DataSource(source =>
                      {
                          source.Read(read =>
                          {
                              read.Action("Course", "DDL");
                          });
                      })
                    .HtmlAttributes(new { @class = "form-control ", @style = " width: 100%;" })
                )

            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row" style="margin-top:1%;">
            @Html.Label("Class", new { @class = "col-md-3 col-lg-3 control-label" })
            <div class="col-md-8">
                @(Html.Kendo().DropDownList()
                        .Name("Class")
                        .DataTextField("Text")
                        .DataValueField("Value")
                        .OptionLabel("--Please select Class--")
                        .HtmlAttributes(new { @class = "form-control ", @style = " width: 100%;" })
                        .HtmlAttributes(new { style = "width: 100%" })
                )
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row" style="margin-top:1%;">
            @Html.Label("Session Start Date", new { @class = "col-md-3 col-lg-3 control-label" })
            <div class="col-md-3">
                @(Html.Kendo().TextBox()
                                             .Name("startDate")
                                             .Value("")
                                              .HtmlAttributes(new { @readonly = "readonly", style = "width:100%" })
                )

            </div>
            @Html.Label("Session End Date", new { @class = "col-md-2 control-label" })
            <div class="col-md-3">
                @(Html.Kendo().TextBox()
                                             .Name("endDate")
                                             .Value("")
                                             .HtmlAttributes(new{ @readonly ="readonly" ,style = "width:100%" })
                )

            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row" style="margin-top:1%;">
            @Html.Label("Start Date", new { @class = "col-md-3 col-lg-3 control-label" })
            <div class="col-md-8">
                @(Html.Kendo().DatePicker()
                                         .Name("Start_Date")
                                         .Value(DateTime.Now.Date)
                                         .Format("{0:MM/dd/yyyy}")
                                         .HtmlAttributes(new { style = "width: 100%", title = "datetimepicker" })
                                         .DateInput()
                )
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row" style="margin-top:1%;">
            @Html.Label("End Date", new { @class = "col-md-3 col-lg-3 control-label" })
            <div class="col-md-8">
                @(Html.Kendo().TextBox()
                                             
                                                 .Name("End_Date")
                                                 .Value("")
                                                 .HtmlAttributes(new { @readonly = "readonly", style = "width: 100%", title = "datetimepicker" })
                                                 
                )
            </div>
        </div>
    </div>
    <div class="form-group col-md-2 col-lg-2 col-sm-2" style="margin-left:65%;margin-top:1%;">
        @(Html.Kendo().Button()
          .Name("H2")
          .HtmlAttributes(new { type = "button", @class = "btn btn-primary k-primary" })
          .Content("" + @lr.ActivitySummaryReport + "")
        )
    </div>
</div>
<div class="row">
    <div class="col-lg-10">
        <iframe id="ifrmReportViewer" frameborder="0" EnableEventValidation="false" src="" width="1000" height="1000" style="overflow:hidden;" allowtransparency="true" allowfullscreen></iframe>
    </div>
</div>

<script type="text/javascript">
    jQuery(function () {
        jQuery("#H2").live("click", function (event) {
            var datepicker = jQuery("#Start_Date").data("kendoDatePicker");
            startDate = new Date(datepicker.value());
            startDate = kendo.toString(startDate, "dd/MM/yyyy");
            var datepickerend = jQuery("#End_Date").val();
            endtDate = kendo.toString(datepickerend, "dd/MM/yyyy");
           
            if (jQuery("#Class").data("kendoDropDownList").value().trim().length <= 0 || jQuery("#Course").data("kendoDropDownList").value().trim().length <= 0 || endtDate.toString().trim().length <= 0 || startDate.toString().trim().length <= 0) {
                console.log('null value');
          } else
            {
                url = "../Views/Report/SpLReports/ViewAttendanceReport.aspx?rptmode=local&reportname=Tran_ViewAttendanceReport&ClassID=" + jQuery("#Class").data("kendoDropDownList").value() + "&CourseID=" + jQuery("#Course").data("kendoDropDownList").value() + "&StartDate=" + startDate + "&EndDate=" + endtDate + "";
                var myframe = document.getElementById("ifrmReportViewer");
                if (myframe !== null) {
                    if (myframe.src) {
                        myframe.src = url;
                    }
                    else if (myframe.contentWindow !== null && myframe.contentWindow.location !== null) {
                        myframe.contentWindow.location = url;
                    }
                    else { myframe.setAttribute('src', url); }
                }
            }
            jQuery("#H2").attr("disabled", false);
            return false;
        });

        jQuery("#Class").live("change", function (event) {
            var classId = jQuery("#Class").data("kendoDropDownList").value();
            if (classId.trim().length <= 0) {
                console.log('null value');
            } else {
                jQuery.ajax({
                    method: "post",
                    url: "/SPl_Test_Reports/classStatAndEndDate?ClassID=" + classId,
                    dataType: "JSON",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ ClassID: classId }),
                    success: function (msg) {
                        jQuery("#startDate").val(msg.Data.StartDate).change();
                        jQuery("#endDate").val(msg.Data.EndDate).change();
                    }
                });
            }
        });
        jQuery("#Start_Date").live("change", function (event) {
            var datepickerStart = jQuery("#Start_Date").data("kendoDatePicker");
            startDate = new Date(datepickerStart.value());
           startDate = kendo.toString(startDate, "dd/MM/yyyy")
            jQuery.ajax({
                method: "post",
                url: "/SPl_Test_Reports/addInDate?date=" + startDate,
                dataType: "JSON",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ date: startDate }),
                success: function (msg) {
                    startDate = kendo.toString(msg.Data.endDate, "dd/MM/yyyy")
                    jQuery("#End_Date").val(startDate).change();
                   
                }
            });
        });
        jQuery("#Course").live("change", function (event) {
            var classId = jQuery("#Course").data("kendoDropDownList").value();
            if (classId.trim().length <= 0) {
                console.log('null value');
            } else {
                jQuery.ajax({
                    method: "post",
                    url: "/SPl_Test_Reports/ClassTrainer?ClassID=" + classId,
                    dataType: "JSON",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ ClassID: classId }),
                    success: function (msg1) {
                        jQuery("#Class").kendoDropDownList({
                            OptionLabel: "--Please select Class--",
                            dataTextField: "Text",
                            dataValueField: "Value",
                            dataSource: msg1.Data,
                            height: 100
                        })
                            .closest(".k-widget")
                            .attr("id", "products_wrapper");
                        if (msg1.Data != null) {
                            jQuery.ajax({
                                method: "post",
                                url: "/SPl_Test_Reports/classStatAndEndDate?ClassID=" + msg1.Data[0].Value,
                                dataType: "JSON",
                                contentType: "application/json; charset=utf-8",
                                data: JSON.stringify({ ClassID: msg1.Data[0].Value }),
                                success: function (msg2) {
                                    jQuery("#startDate").val(msg2.Data.StartDate).change();
                                    jQuery("#endDate").val(msg2.Data.EndDate).change();
                                }
                            })
                        }
                    }
                });
            }
        });
    });
</script>