
@{
    ViewBag.Title = "Schedule_Read";
    Layout = "~/Views/Shared/_LayoutDashboardNew.cshtml";
}
@using lr = Resources.Resources;



<style>
    div#calender {
        width: 1082px;
    }

    .fc-content {
        color: #000;
    }

    td.fc-day.fc-widget-content.fc-sun.fc-today.fc-state-highlight {
        background-color: #80BFC8;
    }

    .right-inner-addon {
        display: none;
    }

    .fc button .fc-icon {
        position: relative;
        top: -.05em;
        margin: 0 .2em;
        /* vertical-align: middle; */
    }

    span.fc-time {
        display: none;
    }
</style>


<style>
    .form-group {
        display: grid;
    }

    .input-group {
        display: none;
    }

    .col-md-12.col-lg-offset-2 {
        margin-bottom: 26px;
    }
    /*li {
        display: none;
    }*/
</style>
@*<div class="col-md-offset-2">*@

<div class="row" style="margin-left:10%;">
    <div class="form-group">
        <div class="row" style="margin-top:1%;">
            @Html.Label("Course", new { @class = "col-md-3 col-lg-3 control-label" })
            <div class="col-md-7 col-lg-7 col-sm-11">
                @(Html.Kendo().DropDownList()
                                                                                                                   .Name("Course")
                                                                                                                   .DataTextField("Text")
                                                                                                                   .DataValueField("Value")
                                                                                                                   .OptionLabel("---Select Course---")
                                                                                                                   .DataSource(source =>
                                                                                                                   {
                                                                                                                       source.Read(read =>
                                                                                                                       {
                                                                                                                           read.Action("Course", "DDL");
                                                                                                                       });
                                                                                                                   })
                                                                                                                  .HtmlAttributes(new { @class = "form-control ", @style = " width: 100%;" })
                )

            </div>
        </div>
    </div>
    <div class="form-group">

        <div class="row" style="margin-top:1%;">
            @Html.Label("Class", new { @class = "col-md-3 col-lg-3 control-label" })
            <div class="col-md-7 col-lg-7 col-sm-11">
                @(Html.Kendo().DropDownList()
                                                                                                                    .Name("Class")
                                                                                                                    .DataTextField("Text")
                                                                                                                    .DataValueField("Value")
                                                                                                                    .OptionLabel("---Select Class---")
                                                                                                                    //.DataSource(source =>
                                                                                                                    //{
                                                                                                                    //    source.Read(read =>
                                                                                                                    //    {
                                                                                                                    //        read.Action("Classes", "DDL");
                                                                                                                    //    });
                                                                                                                    //})
                                                                                                                    .HtmlAttributes(new { @class = "form-control ", @style = " width: 100%;" })
                                                                                                                                                                                                        .HtmlAttributes(new { style = "width: 100%" })
                )
            </div>
        </div>
    </div>

    <div class="form-group col-md-2 col-lg-2 col-sm-2" style="margin-left:65%;margin-top:1%;">
        @(Html.Kendo().Button()
                                                                                                               .Name("primaryTextButton")
                                                                                                               .HtmlAttributes(new { type = "button", @class = "btn btn-primary k-primary" })
                                                                                                               .Content("" + @lr.ActivitySummaryReport + "")
        )
    </div>



</div>




<div id="calender" style="margin-top:2%; margin-left:4%" class="col-lg-10 col-md-8"></div><div class="row">
    <div class="col-lg-8 col-md-8">
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog" style="margin-top: 70px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        @*<h4 class="modal-title"><span id="eventTitle"></span></h4>*@
                    </div>
                    <div class="modal-body">
                        <p id="pDetails"></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>

    <script>
        jQuery(function () {
            jQuery("#primaryTextButton").live("click", function (event) {
                var events = [];
                var courseId = jQuery("#Course").data("kendoDropDownList").value();
                var classId = jQuery("#Class").data("kendoDropDownList").value();
                if (classId.trim().length <= 0 || courseId.trim().length <= 0) {
                } else {

               
                var url1 = '@Html.Raw(@Url.Action("Schedule_Read", "Program"))' + '?courseId=' + courseId + '&classID=' + classId;
                jQuery.ajax({
                    url: url1,
                    type: "GET",
                    success: function (data) {
                        jQuery.each(data, function (i, v) {
                            events.push({
                                title: v.EndTimes, //v.SessionName,
                                ScheduleDate: v.ScheduleDate,
                                description: v.CourseName,
                                FullName: v.FullName,
                                SessionName: v.SessionName,
                                VenueName: v.VenueName,
                                ClassTitle: v.ClassTitle,
                                start: moment(v.StartTime),
                                StartDate: v.StartDate,
                                end: moment(v.EndTimes),
                                end: v.EndTimes != null ? (v.EndTimes) : null,
                                color: v.ThemeColor,
                                allDay: v.IsFullDay

                            });
                        })

                        GenerateCalender(events);
                    },
                    error: function (error) {
                        alert('failed');
                    }
                    })
                }
            });
            jQuery("#Course").live("change", function (event) {
                var classId = jQuery("#Course").data("kendoDropDownList").value();
               
                if (classId.trim().length <= 0) {
                    jQuery("#Class").kendoDropDownList({
                        dataSource: "",
                        height: 100
                    })
                } else {
                    jQuery.ajax({
                        method: "post",
                        url: "/SPl_Test_Reports/ClassTrainer?ClassID=" + classId,
                        dataType: "JSON",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify({ ClassID: classId }),
                        success: function (msg1) {
                            jQuery("#Class").kendoDropDownList({
                                OptionLabel: "--Please select Class--",
                                dataTextField: "Text",
                                dataValueField: "Value",
                                dataSource: msg1.Data,
                                height: 100
                            })
                                .closest(".k-widget")
                                .attr("id", "products_wrapper");
                        }
                    });
                }
            });
            function GenerateCalender(events) {
                jQuery('#calender').fullCalendar('destroy');
                jQuery('#calender').fullCalendar({
                    contentHeight: 400,
                    defaultDate: new Date(),
                    timeFormat: 'h(:mm)a',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay'
                    },
                    ////eventLimit: true,
                    eventColor: '#378006',
                    events: events,
                    eventClick: function (calEvent, jsEvent, view) {

                        jQuery('#myModal #eventTitle').text(moment(calEvent.title));
                        var $description = jQuery('<div/>');
                        //$description.append(jQuery('<p/>').html('<b>Start:</b>' + calEvent.StartDate));
                        // if (calEvent.end != null) {
                        //     $description.append(jQuery('<p/>').html('<b>End:</b>' + calEvent.EndDate));
                        //  }
                        var dateget = calEvent.ScheduleDate.substr(6)
                        var currentTime = new Date(parseInt(dateget));
                        var month = currentTime.getMonth() + 1;
                        var day = currentTime.getDate();
                        var year = currentTime.getFullYear();
                        var date = day + "/" + month + "/" + year;
                        $description.append(jQuery('<p/>').html('<b>Session Name : </b>' + calEvent.SessionName));
                        $description.append(jQuery('<p/>').html('<b>Schedule Date : </b>' + date));
                        $description.append(jQuery('<p/>').html('<b>Venue Name : </b>' + calEvent.VenueName));
                        $description.append(jQuery('<p/>').html('<b>Trainer Name : </b>' + calEvent.FullName));
                        $description.append(jQuery('<p/>').html('<b>Class Title : </b>' + calEvent.ClassTitle));
                        $description.append(jQuery('<p/>').html('<b>Course Name : </b>' + calEvent.description));
                        jQuery('#myModal #pDetails').empty().html($description);
                        jQuery('#myModal').modal();
                    }
                })
            };
        })
    </script>


}
@*.format("DD-MMM-YYYY HH:mm a")*@




